@import '../../styles/variables.scss';

.episode-description {
  color: $color__gray;
  line-height: 2rem;

  a {
    color: $color__gray;
    font-weight: bold;
    text-decoration: underline;
  }

  p {
    margin: 0.5rem 0;
  }
}

.episode-description--hide-on-mobile {
  display: none;

  @include breakpoint(m) {
    display: block;
  }
}

.episode-description--hide-on-desktop {
  @include breakpoint(m) {
    display: none;
  }
}
