@import '../../styles/variables.scss';

.episode-available-on-item {
  font-size: 0.9rem;
  flex: 0 0 100%;
  height: 1.5rem;
  line-height: 2rem;
  list-style: none;
  text-align: center;

  @include breakpoint(s) {
    flex: 1 0 calc(100% / 2);
  }

  @include breakpoint(m) {
    flex: 1 0 calc(100% / 3);
  }
}

.episode-available-on-item__link {
  color: $color__gray;

  &:visited {
    color: $color__gray;
  }
}
