// Colors
// Please use http://chir.ag/projects/name-that-color

$color__black: #000;
$color__edward: #9daaaa;
$color__portage: #8e80ec;
$color__prelude: #c6b8dd;
$color__tranquil: #e4ffff;
$color__white: #fff;
$color__seashell: #f1f1f1;
$color__silver: #bababa;
$color__silver-chalice: #a3a3a3;
$color__gray: #858585;

// Breakpoints
$breakpoint__l: 1200px;
$breakpoint__m: 685px;
$breakpoint__s: 500px;

@mixin breakpoint($point) {
  @if $point == l {
    @media (min-width: $breakpoint__l) {
      @content;
    }
  } @else if $point == m {
    @media (min-width: $breakpoint__m) {
      @content;
    }
  } @else if $point == s {
    @media (min-width: $breakpoint__s) {
      @content;
    }
  }
}

// Typography
@mixin h1() {
  font-size: 70px;
  text-transform: uppercase;
}

@mixin link() {
  &,
  &:visited,
  &:active {
    color: $color__portage;
    text-decoration: none;
  }

  &:hover {
    color: $color__portage;
    text-decoration: underline;
  }
}
