@import 'variables';

html {
  font-family: sans-serif;
  font-size: calc(12px + 0.6vmin);
}

body {
  background-color: $color__tranquil;
  margin: 0;
}

h1 {
  @include h1;
  margin: 0;
}

a {
  @include link;
}
