@import '../../styles/variables.scss';

.houston-ad {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  margin: 3rem 0 0;
}

.houston-ad__logo {
  height: 1rem;
}

.houston-ad__link {
  color: $color__edward;
  font-size: 0.9rem;
  margin: 0.9rem 0 0;
  text-decoration: none;
  letter-spacing: 1px;
}
