@import '../../styles/variables.scss';

$gap-between: 5rem;
$gap-half: $gap-between / 2;

.episode-page-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include breakpoint(m) {
    flex-wrap: nowrap;
  }
}

.episode-page-grid--reverse {
  @include breakpoint(m) {
    flex-direction: row-reverse;
  }
}

.episode-page-grid__first-cell {
  box-sizing: border-box;
  flex: 0 0 100%;

  @include breakpoint(m) {
    flex: 0 0 calc(50% - #{$gap-half});
    margin: 0 $gap-between 0 0;
  }

  .episode-page-grid--reverse & {
    @include breakpoint(m) {
      margin: 0;
    }
  }
}

.episode-page-grid__second-cell {
  box-sizing: border-box;
  flex: 0 0 100%;
  margin: $gap-between 0 0 0;

  @include breakpoint(m) {
    flex: 0 0 calc(50% - #{$gap-half});
    margin: 0;
  }

  .episode-page-grid--reverse & {
    @include breakpoint(m) {
      margin: 0 $gap-between 0 0;
    }
  }
}
